extends layout

block content
  #signup
    h2 Signup
    form#signup-form(action="signup" method="post")
      label Username
      input(type="text" name="username")
      label Password
      input(type="password" name="password")
      label Password confirmation
      input(type="password" name="passwordConfirmation")
      label First name:
      input(type="text" name="firstname")
      label Last name:
      input(type="text" name="lastname")
      label Date of birth:
      input(type="date" name="birthDate")
      label Account Type
      select(name="type")
        option(value="Free") Free
        option(value="Premium") Premium
      input(type="submit")

  #login
    h2 Login
    form#login-form(action="login" method="post")
      label Username
      input(type="text" name="username")
      label Password
      input(type="password" name="password")
      input(type="submit")

  button Logout
