extends layout

block content
  if(message)
    .container
      span.error= message
  .container
    span.form-block#signup
      h2 Signup
      form#signup-form(action="signup" method="post")
        input#signup-username(type="text" name="username" placeholder="Username")
        input#signup-password(type="password" name="password" placeholder="Password")
        input#signup-confirmation(type="password" name="passwordConfirmation" placeholder="Password confirmation")
        input#signup-firstname(type="text" name="firstname" placeholder="First name")
        input#signup-lastname(type="text" name="lastname" placeholder="Last name")
        input#signup-birthdate(type="date" name="birthdate" placeholder="Date of birth")
        label Account Type: 
        select#signup-type(name="type")
          option(value="Free") Free
          option(value="Premium") Premium
        br
        input#signup-submit(type="submit")

    span(style="position:relative;top:130px;margin:45px") or

    span.form-block#login
      h2 Login
      form#login-form(action="login" method="post")
        input#login-username(type="text" name="username" placeholder="Username")
        input#login-password(type="password" name="password" placeholder="Password")
        input#login-submit(type="submit")

  script(src="js/index.js")
